fastapi
uvicorn[standard]
pydantic[email]
motor
pymongo
pydantic
langchain
langchain-core
langchain-groq
langchain-google-genai
langgraph
tavily-python
python-multipart
pypdf
httpx
python-dotenv
rich
certifi
